<section class="gallery-shell">

 

  @if (images.length > 0) {

    <div class="gallery-shell__main">

      <img
        [src]="selectedImage()?.imageUrl || images[0].imageUrl"
        [alt]="title"
      >

    </div>

    <div class="gallery-shell__thumbs">

      @for(image of images;track image.id){

        <button
          class="gallery-thumb"
          [class.gallery-thumb--active]="selectedImage()?.id===image.id"
          (click)="selectImage(image)"
          type="button">

          <img
            [src]="image.imageUrl"
            [alt]="title">

        </button>

      }

    </div>

  }

  @else if(fallbackImage){

    <div class="gallery-shell__main">

      <img
        [src]="fallbackImage"
        [alt]="title">

    </div>

  }

  @else{

    <div class="gallery-shell__placeholder">

{{ 'gallery.noImage' | translate }}
    </div>

  }

</section>