@if (isHomeBanner()) {

  @if (homeSlides().length > 0) {

    <!-- Home Banner: سلايدر بيتحرك لوحده باستخدام AutoSlideDirective -->
    <section
      class="static-banner-strip static-banner-strip--home banner-slider"
      appAutoSlide="forward"
      [autoSlideInterval]="4000"
      appScrollReveal>

      @for (slide of homeSlides(); track $index) {

       <a
  class="static-banner slider-item"
  [routerLink]="resolveRouterLink(slide.link)"
>
          <img
            [src]="resolveSlideImage(slide)"
            [alt]="'hero.bannerAlt' | translate">
        </a>

      }

    </section>

  }

} @else if (banners().length > 0) {

  <!-- Offer / Category: شريط ثابت جنب بعض من غير أي تبديل -->
  <section
    class="static-banner-strip"
    [ngClass]="stripClass()"
    appScrollReveal>

    @for (banner of banners(); track banner.id) {

<a
  class="static-banner"
  [routerLink]="resolveRouterLink(resolveLink(banner))"
>        <img
          [src]="resolveImage(banner)"
          [alt]="'hero.bannerAlt' | translate">
      </a>

    }

  </section>

}