<section class="checkout-block">

  <div class="checkout-block__header">

    <div>
      <p class="section-kicker">
        {{ 'checkout.shipping.step' | translate }}
      </p>

      <h3>
        {{ 'checkout.shipping.title' | translate }}
      </h3>
    </div>

  </div>

  @if (!governorate()) {

    <p class="section-copy">
      {{ 'checkout.shipping.selectAddressFirst' | translate }}
    </p>

  } @else if (noShippingAvailable()) {

    <p class="checkout-shipping__error">
      {{ 'checkout.shipping.notAvailable' | translate }}
      "{{ governorate() }}"
      {{ 'checkout.shipping.notAvailableSuffix' | translate }}
    </p>

  } @else if (areaNotAvailable()) {

    <p class="checkout-shipping__error">
      {{ 'checkout.shipping.areaNotAvailable' | translate }}
      "{{ area() }}"
    </p>

  } @else {

    <div class="field-grid">

      <label class="field">

        <span>
          {{ 'checkout.shipping.governorate' | translate }}
        </span>

        <input
          type="text"
          [value]="governorate()"
          disabled
        />

      </label>

      <label class="field">

        <span>
          {{ 'checkout.shipping.area' | translate }}
        </span>

        <input
          type="text"
          [value]="matchedArea()?.name ?? area()"
          disabled
        />

      </label>

    </div>

    @if (matchedArea()) {

      <div class="checkout-shipping__cost">
        {{ matchedArea()!.shippingCost | number }}
        EGP
      </div>

    }

  }

</section>