<article class="cart-item" [class.cart-item--busy]="isRemoving()">

  <a [routerLink]="['/products', item.productId]" class="cart-item__image">
    <img [src]="item.imageUrl || fallbackImage" [alt]="item.productName" />
  </a>

  <div class="cart-item__info">

    <a [routerLink]="['/products', item.productId]" class="cart-item__name">
      {{ item |localizedName }}
    </a>

    @if (item.color || item.size) {
      <p class="cart-item__variant">

        @if (item.color) {
          {{ item.color }}
        }

        @if (item.color && item.size) {
          •
        }

        @if (item.size) {
          {{ item.size }}
        }

      </p>
    }

    @if (item.variantSku) {
      <p class="cart-item__sku">
        {{ 'cart.sku' | translate }}: {{ item.variantSku }}
      </p>
    }

    @if (errorMessage()) {
      <p class="cart-item__error">
        {{ errorMessage() }}
      </p>
    }

    <div class="cart-item__qty">

      <button
        type="button"
        (click)="decrease()"
        [disabled]="isUpdating() || item.quantity <= 1"
        [attr.aria-label]="'cart.decreaseQuantity' | translate">

        −

      </button>

      <span>{{ item.quantity }}</span>

      <button
        type="button"
        (click)="increase()"
        [disabled]="isUpdating()"
        [attr.aria-label]="'cart.increaseQuantity' | translate">

        +

      </button>

    </div>

  </div>

  <div class="cart-item__side">

    <p class="cart-item__price">
      {{ item.subTotal | number }} EGP
    </p>

    <p class="cart-item__unit-price">
      {{ item.unitPrice | number }} EGP {{ 'cart.each' | translate }}
    </p>

    <button
      type="button"
      class="cart-item__remove"
      (click)="remove()"
      [disabled]="isRemoving()">

      {{
        isRemoving()
          ? ('cart.removing' | translate)
          : ('cart.remove' | translate)
      }}

    </button>

  </div>

</article>