<article
  class="tl-product"
  [class.tl-product--compact]="variant === 'compact'"
  [class.tl-product--large]="variant === 'large'"
  [class.tl-product--wide]="variant === 'wide'"
  [class.tl-product--editorial]="variant === 'editorial'"
  [class.tl-product--out-of-stock]="isOutOfStock"
  [class.tl-product--in-cart]="isInCart"
>

  <!-- =====================================================
       OBJECT / IMAGE
  ====================================================== -->

  <a
    class="tl-product__media"
    [routerLink]="['/products', product.id]"
    [attr.aria-label]="product | localizedName"
  >

    <img
      class="tl-product__image"
      [src]="imageUrl"
      [alt]="product | localizedName"
      loading="lazy"
      decoding="async"
    />

    <span
      class="tl-product__gradient"
      aria-hidden="true"
    ></span>

    

  </a>


  <!-- =====================================================
       TOP CONTROLS
  ====================================================== -->

  <div class="tl-product__controls">

    @if (hasDiscount) {

      <span class="tl-product__discount">
        −{{ discountPercent }}%
      </span>

    }

    <button
      type="button"
      class="tl-product__wishlist"
      [class.tl-product__wishlist--active]="isInWishlist()"
      [disabled]="isTogglingWishlist()"
      [attr.aria-label]="
        isInWishlist()
          ? ('common.removeFromWishlist' | translate)
          : ('common.addToWishlist' | translate)
      "
      [attr.aria-pressed]="isInWishlist()"
      (click)="toggleWishlist($event)"
    >

      <i
        class="fa-regular fa-heart"
        aria-hidden="true"
      ></i>

    </button>

  </div>


  <!-- =====================================================
       PRODUCT INDEX
  ====================================================== -->

  <span
    class="tl-product__index"
    aria-hidden="true"
  >
    {{ product.id | number:'2.0-0' }}
  </span>


  <!-- =====================================================
       PRODUCT INFORMATION
  ====================================================== -->

  <div class="tl-product__info">

    <div class="tl-product__identity">

      @if (product.brandName) {

        <span class="tl-product__brand">
          {{ product.brandName }}
        </span>

      }

      <a
        class="tl-product__name"
        [routerLink]="['/products', product.id]"
      >
        {{ product | localizedName }}
      </a>

    </div>


    <div class="tl-product__bottom">

      <div class="tl-product__pricing">

        @if (ratingValue > 0) {

          <div class="tl-product__rating">

            <i
              class="fa-solid fa-star"
              aria-hidden="true"
            ></i>

            <span>
              {{ ratingValue | number:'1.1-1' }}
            </span>

            @if (reviewCount > 0) {

              <small>
                ({{ reviewCount }})
              </small>

            }

          </div>

        }

        <div class="tl-product__price">

          <span class="tl-product__price-current">
            {{ finalPrice | number:'1.0-2' }}
          </span>

          @if (hasDiscount) {

            <span class="tl-product__price-original">
              {{ originalPrice | number:'1.0-2' }}
            </span>

          }

        </div>

      </div>


      <!-- =================================================
           BAG ACTION
      ================================================== -->

      <div class="tl-product__action">

        @if (isAdding()) {

          <button
            type="button"
            class="tl-product__bag tl-product__bag--loading"
            disabled
            aria-busy="true"
            [attr.aria-label]="'common.adding' | translate"
          >

            <span class="tl-product__spinner"></span>

          </button>

        }

        @else if (isOutOfStock) {

          <button
            type="button"
            class="tl-product__bag tl-product__bag--disabled"
            disabled
            [attr.aria-label]="'common.soldOut' | translate"
          >

            <i
              class="fa-solid fa-ban"
              aria-hidden="true"
            ></i>

          </button>

        }

        @else if (
          isInCart &&
          !hasMultipleCartVariants
        ) {

          <div
            class="tl-product__stepper"
            role="group"
            [attr.aria-label]="'common.quantity' | translate"
          >

            <button
              type="button"
              [attr.aria-label]="'common.decrease' | translate"
              [disabled]="isUpdatingCart()"
              (click)="decreaseCartQuantity($event)"
            >
              −
            </button>

            <span>
              {{ cartQuantity }}
            </span>

            <button
              type="button"
              [attr.aria-label]="'common.increase' | translate"
              [disabled]="
                isUpdatingCart() ||
                isAtMaxStock
              "
              (click)="increaseCartQuantity($event)"
            >
              +
            </button>

          </div>

        }

        @else {

          <button
            type="button"
            class="tl-product__bag"
            [attr.aria-label]="
              hasMultipleCartVariants
                ? ('common.viewOptions' | translate)
                : ('common.addToBag' | translate)
            "
            (click)="addToCart($event)"
          >

            <i
              class="fa-solid fa-bag-shopping"
              aria-hidden="true"
            ></i>

          </button>

        }

      </div>

    </div>

  </div>


  <!-- =====================================================
       SOLD OUT
  ====================================================== -->

  @if (isOutOfStock) {

    <div
      class="tl-product__sold-out"
      aria-hidden="true"
    >
      <span>
        {{ 'common.soldOut' | translate }}
      </span>
    </div>

  }

</article>