<app-navbar/>
<section class="auth-shell">
  <div class="auth-shell__glow auth-shell__glow--one"></div>
  <div class="auth-shell__glow auth-shell__glow--two"></div>

  <div class="auth-shell__frame ">
    <aside class="auth-hero">
      <div class="auth-hero__brand">
        <img src='assets/logo.png' [alt]="'sidebar.logoAlt' | translate" class="auth-hero__logo-img" />
        <div>
          <p class="auth-hero__eyebrow">{{ 'auth.brand' | translate }}</p>
          <h2>{{ 'auth.headline' | translate }}</h2>
        </div>
      </div>

      <p class="auth-hero__copy">{{ 'auth.description' | translate }}</p>

      <div class="auth-hero__points">
        <div class="auth-hero__point">
         <span>
    {{ 'auth.features.collections.title' | translate }}
</span>

<small>
    {{ 'auth.features.collections.subtitle' | translate }}
</small>
        </div>
        <div class="auth-hero__point">
         <span>
    {{ 'auth.features.sizes.title' | translate }}
</span>

<small>
    {{ 'auth.features.sizes.subtitle' | translate }}
</small>
        </div>
        <div class="auth-hero__point">
          <span>
    {{ 'auth.features.security.title' | translate }}
</span>

<small>
    {{ 'auth.features.security.subtitle' | translate }}
</small>
        </div>
      </div>
    </aside>

    <div class="auth-panel">
      <ng-content />
    </div>
  </div>
</section>